[submodule "modules/roles"]
	path = production/modules/roles
	url = git@github.com:attachmentgenie/attachmentgenie-roles.git
[submodule "modules/profiles"]
	path = production/modules/profiles
	url = git@github.com:attachmentgenie/attachmentgenie-profiles.git
[submodule "modules/stdlib"]
	path = production/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/firewall"]
	path = production/modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "production/modules/consul"]
	path = production/modules/consul
	url = https://github.com/solarkennedy/puppet-consul.git
[submodule "production/modules/archive"]
	path = production/modules/archive
	url = https://github.com/voxpupuli/puppet-archive.git
[submodule "production/modules/systemd"]
	path = production/modules/systemd
	url = https://github.com/camptocamp/puppet-systemd.git
[submodule "production/modules/resolve_conf"]
	path = production/modules/resolv_conf
	url = https://github.com/saz/puppet-resolv_conf.git
[submodule "production/modules/traefik"]
	path = production/modules/traefik
	url = git@github.com:attachmentgenie/puppet-traefik.git
[submodule "production/modules/nomad"]
	path = production/modules/nomad
	url = git@github.com:attachmentgenie/puppet-nomad.git 
[submodule "production/modules/concat"]
	path = production/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "production/modules/docker"]
	path = production/modules/docker
	url = https://github.com/puppetlabs/puppetlabs-docker.git
[submodule "production/modules/puppet"]
	path = production/modules/puppet
	url = https://github.com/theforeman/puppet-puppet.git
[submodule "production/modules/puppetserver_gem"]
	path = production/modules/puppetserver_gem
	url = https://github.com/puppetlabs/puppetlabs-puppetserver_gem.git
[submodule "production/modules/vault"]
	path = production/modules/vault
	url = https://github.com/jsok/puppet-vault.git
[submodule "production/modules/file_capability"]
	path = production/modules/file_capability
	url = https://github.com/smoeding/puppet-file_capability.git
[submodule "production/modules/dns"]
	path = production/modules/dns
	url = https://github.com/theforeman/puppet-dns.git
