[submodule "modules/roles"]
	path = production/modules/roles
	url = git@github.com:attachmentgenie/attachmentgenie-roles.git
[submodule "modules/profiles"]
	path = production/modules/profiles
	url = git@github.com:attachmentgenie/attachmentgenie-profiles.git
[submodule "modules/stdlib"]
	path = production/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "modules/firewall"]
	path = production/modules/firewall
	url = git@github.com:puppetlabs/puppetlabs-firewall.git
[submodule "production/modules/nginx"]
	path = production/modules/nginx
	url = https://github.com/voxpupuli/puppet-nginx.git
[submodule "production/modules/docker"]
	path = production/modules/docker
	url = https://github.com/garethr/garethr-docker.git
[submodule "production/modules/concat"]
	path = production/modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "production/modules/kubernetes"]
	path = production/modules/kubernetes
	url = https://github.com/cristifalcas/puppet-kubernetes.git
[submodule "production/modules/etcd"]
	path = production/modules/etcd
	url = https://github.com/cristifalcas/puppet-etcd.git
[submodule "production/modules/flannel"]
	path = production/modules/flannel
	url = https://github.com/cristifalcas/puppet-flannel.git
