---
required_plugins:
    - vagrant-hostmanager
    - vagrant-puppet-install
nodes:
    - name: puppetmaster
      hostname: puppet.scheduler.vagrant
      box: bento/centos-7.9
      ip: 192.168.45.41
      cpus: 2
      memory: 6144
      synced_folders:
        - src: 'production'
          dst: '/etc/puppetlabs/code/environments/production'
    - name: dns
      hostname: dns.scheduler.vagrant
      box: bento/centos-7.9
      ip: 192.168.45.42
      provision_type: puppet_agent
      puppetmaster: puppet.scheduler.vagrant
    - name: nomad
      hostname: nomad.scheduler.vagrant
      box: bento/centos-7.9
      cpus: 1
      ip: 192.168.45.43
      synced_folders:
        - src: 'nomad'
          dst: '/home/vagrant/nomad'
      provision_type:  puppet_agent
      puppetmaster: puppet.scheduler.vagrant
      provision_shell: |
        export VAULT_ADDR=http://$(hostname --all-ip-addresses | awk '{print $2}'):8200
        function initialize_vault {
          /usr/bin/vault operator init -key-shares=1 -key-threshold=1 | tee vault.keys
          VAULT_TOKEN=$(grep '^Initial' vault.keys | awk '{print $4}')
          VAULT_KEY=$(grep '^Unseal Key 1:' vault.keys | awk '{print $4}')
          echo $VAULT_TOKEN > /etc/vault_token.txt
          echo $VAULT_KEY > /etc/vault_key.txt
        }
        function unseal_vault {
          VAULT_TOKEN=$(cat /etc/vault_token.txt)
          VAULT_KEY=$(cat /etc/vault_key.txt)
          export VAULT_TOKEN
          /usr/bin/vault operator unseal "$VAULT_KEY"
        }
        VAULT_INITILIAZED=$(vault status | grep '^Initialized' | awk '{print $2}')
        if [ "$VAULT_INITILIAZED" = "true" ]
        then
          echo "vault is already initialized....moving on"
        else
          initialize_vault
        fi
        VAULT_SEALED=$(vault status | grep '^Sealed' | awk '{print $2}')
        if [ "$VAULT_SEALED" = "true" ]
        then
          unseal_vault
        else
          echo "vault is already unsealed....moving on"
        fi
        /bin/nomad job run -detach /home/vagrant/nomad/example.nomad; /bin/nomad job run -detach /home/vagrant/nomad/demo-connect.nomad
    - name: proxy
      hostname: proxy.scheduler.vagrant
      aliases: consul.traefik dashboard.traefik demo.traefik example.traefik nomad.traefik vault.traefik
      box: bento/centos-7.9
      ip: 192.168.45.44
      provision_type: puppet_agent
      puppetmaster: puppet.scheduler.vagrant
    - name: node1
      hostname: node1.scheduler.vagrant
      box: bento/centos-7.9
      ip: 192.168.45.45
      memory: 2048
      provision_type: puppet_agent
      puppetmaster: puppet.scheduler.vagrant
    - name: node2
      hostname: node2.scheduler.vagrant
      box: bento/centos-7.9
      ip: 192.168.45.46
      memory: 2048
      provision_type: puppet_agent
      puppetmaster: puppet.scheduler.vagrant
puppet_version: 6.21.1
virtualbox_group: '/Vagrant/scheduler'
